@import 'shared/styles/variables.scss';
@import 'shared/styles/mixins.scss';

.drivers-container {
  display: grid;
  margin: auto;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.details {
  padding: 10px;
  @include grid(1, 3, 2, auto);
  background-color: $coalDark;
  border-radius: $borderRadius 0px 0px $borderRadius;
  color: white;
}

.list {
  @include grid(3, 11, 2, auto);
  background-color: $coalLight;
  border-radius: 0px $borderRadius $borderRadius 0px;

  @include box-shadow(inset 6px -2px 9px -4px rgba(50, 50, 50, 0.75));

  .search-wrapper {
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: $coalDark;
    border-radius: 0px $borderRadius 0px 0px;

    input[type=text]  {
      padding: 5px;
      font-size: 16px;
      border-width: 1px;
      border-color: #CCCCCC;
      background-color: #FFFFFF;
      color: #000000;
      border-style: solid;
      border-radius: 8px;
      text-shadow: 0px 0px 0px rgba(66,66,66,.75);
      width: 50%;
      transition: all .5s ease-out;

      &:focus {
        width: 80%;
      }
    }
  }
}

@media (max-width: 780px) {
  .details {
    @include grid(1, 11, 2, auto);
    border-radius: $borderRadius  $borderRadius 0px 0px;
  }

  .list {
    @include grid(1, 11, 3, auto);
    border-radius: 0px 0px $borderRadius $borderRadius;
  }
}