.container {
  max-width: 1000px;
  min-width: 400px;
  margin: auto;
  
  header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 80px;
    }
  }
  
}

