
<div class="container">
  <header>
    <h1>{{ title }}</h1>
  </header>
  <section class="details">
    <div>
      <img src="#" />
      <h3>Sebastian Vettel</h3>
    </div>
    <div>
      <p>Country: Germany</p>
      <p>Team: Red Bull</p>
      <p>Birth: 12/4/1986</p>
      <p>Biography: link</p>
    </div>
  </section>
  <section class="list">
    <div>
      <input type="text" placeholder="Start typing...">
    </div>
    <div>Driver Championship Standings 2013</div>
    <app-drivers></app-drivers>
    <div>Some footer</div>
  </section>
</div>
