<app-drivers></app-drivers>
<div class="container">
  <header>
    <h1>{{ title }}</h1>
  </header>
  <section class="details">
    <div>
      <img src="#" />
      <h3>Sebastian Vettel</h3>
    </div>
    <div>
      <p>Country: Germany</p>
      <p>Team: Red Bull</p>
      <p>Birth: 12/4/1986</p>
      <p>Biography: link</p>
    </div>
  </section>
  <section class="list">
    <div>
      <input type="text" placeholder="Start typing...">
    </div>
    <div>Driver Championship Standings 2013</div>
    <table>
      <thead>
        <tr>
          <th>Index</th>
          <th>Driver</th>
          <th>Constructor</th>
          <th>Wins</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Sebastian Vettel</td>
          <td>Red Bull</td>
          <td>1</td>
        </tr>
        <tbody>
    </table>
    <div>Some footer</div>
  </section>
</div>
