<div *ngIf="driverStanding">
  <div class="test">
    <img src="#" />
    <h3>{{driverStanding.Driver.givenName}} {{driverStanding.Driver.familyName}}</h3>
  </div>
  <div>
    <p>Birth: {{driverStanding.Driver.dateOfBirth}}</p>
    <p>Biography: {{driverStanding.Driver.url}}</p>
    <p>Nationality: {{driverStanding.Driver.nationality}}</p>
    <hr>
    <p>Team: {{driverStanding.Constructors[0].name}}</p>
    <p>Nationality: {{driverStanding.Constructors[0].nationality}}</p>
    <p>Link: {{driverStanding.Constructors[0].url}}</p>
  </div>
</div>
